@{
    //isteğe bağlı bu işlem yapılabilir eğer varsayılan olmasını istemiyorsam
    //Layout = null;
}
@model Product   

<h3>
    @Model.ProductName
</h3>
<p>
    @Model.ProductPrice
</p>
<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
        <i class="fa-solid fa-house"></i>
        Home
        </a>
    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
        <i class="fa-solid fa-list"></i>
        Products
        </a>

</div>
 
<!--Sadece bu kısma özel olmasını istediğim ifadeler-->
@* @section Header{
    <div>
        Header only for Get
    </div>
} *@