@{
    //isteğe bağlı bu işlem yapılabilir eğer varsayılan olmasını istemiyorsam
    //Layout = null;
}
@model Product   

<div class="row">
    <div class="col-md-12">
        <div class=" text-center">
            <h3>
                @Model.ProductName
            </h3>
            <img class="img-fluid shadow rounded-3" src="@Model?.ImageUrl" alt="@Model.ProductName my-3" width="250" />
            <p class="lead text-danger">@Model.ProductPrice.ToString("c")</p>

        </div>
    </div>
</div>



<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
        <i class="fa-solid fa-house"></i>
        Home
        </a>
    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
        <i class="fa-solid fa-list"></i>
        Products
        </a>

</div>
 
<!--Sadece bu kısma özel olmasını istediğim ifadeler-->
@* @section Header{
    <div>
        Header only for Get
    </div>
} *@