@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BTK Akademi</h1>
    <p>
        <strong>Welcome to BTK Akademi! We are happy to see you here.</strong>
    </p>
    <p>
        <a class="btn btn-primary" asp-controller="Course" asp-action="Apply">Apply</a>
    </p>

</div>
