<footer class="navbar bg-light border-top navbar-expand-lg bg-body-tertiary mt-auto">
    <div class="container-fluid">
        <span class="navbar-text">
            &copy; 2024 Store App
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footerNav" aria-controls="footerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="footerNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Product" asp-action="Index">Products</a>
                </li>                
            </ul>
        </div>
    </div>
</footer>
